.author {
  display: flex;
  a {
      text-decoration: none !important;
      margin-left: 8px;
      color: #FFFFFF;
      font-weight: 500;
  }
  &_black{
    a{
      color: #4F4F4F;
    }
  }
  &__icon{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
    }
  }
}