@import "../../../assets/styles/variables.module.scss";

.logo {
  @extend %sectionPadding;
  padding-top: 10px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px 0;
    @media (max-width: 776px) {
      overflow-x: auto;
    }
  }

  &__item {
    padding: 0 15px;
    &:last-child {
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  &__img {
    height: 45px;
    @media (max-width: 767px) {
      height: 30px;
    }
  }
}
