@import "../../../../assets/styles/variables.module.scss";

.item {
    padding: 30px 30px 20px 30px;
    background: $bcgWhite;
    border-radius: 5px;
    align-self: flex-start;
    @media (max-width: 991px) {
        width: 60%;
        margin: 0 auto;
    }
    @media (max-width: 767px) {
        width: 70%;
        padding: 20px 20px 15px 20px;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
    h2 {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__subtitle {
        margin-top: 30px;
        margin-bottom: 15px;
        font-weight: 600;
    }
    &__result {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        &_box {
            background: #ffffff;
            border: 1px solid rgba(242, 242, 242, 0.75);
            box-shadow: 10px 15px 80px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding: 15px;
            min-height: 106px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            overflow: hidden;
            @media (max-width: 500px) {
                min-height: 83px;
            }
        }
        &_number {
            position: absolute;
            right: 0;
            top: 0;
            background: #3d2ee2;
            border-radius: 0px 5px 0px 50px;
            font-size: 12px;
            line-height: 18px;
            color: #fff;
            font-weight: 700;
            padding: 3px 6px 5px 10px;
            cursor: pointer;
        }
        &_icon {
            width: 30px;
            height: 30px;
            margin: 0 auto 5px;
            @media (max-width: 500px) {
                width: 20px;
                height: 20px;
            }
            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        &_title {
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            font-weight: 500;
            @media (max-width: 500px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    &_questions {
        margin: 20px -30px -20px;
        padding: 20px 30px 20px;
        border-top: 1px solid rgba(224, 224, 224, 0.5);
        position: relative;
        @media (max-width: 767px) {
            margin: 15px -20px -15px;
            padding: 15px 20px 15px;
        }
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-weight: 600;
                color: $greyDark;
            }
        }
        &__show {
            color: $grey;
            position: relative;
            padding-right: 19px;
            transition: 0.3s;
            cursor: pointer;
            &::before {
                position: absolute;
                content: '';
                background: center/contain no-repeat url(../../../../assets/images/icons/arrow-up.svg);
                width: 12px;
                height: 20px;
                right: 0;
                bottom: 1px;
                transition: 0.3s;
                filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(91%) contrast(89%);
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            &_active {
                @extend .item_questions__show;
                color: #4f4f4f;
                &::before {
                    filter: inherit;
                    transform: inherit;
                    bottom: 2px;
                }
            }
        }
        &__item {
            position: absolute;
            overflow: hidden;
            width: 100%;
            left: 0;
            padding: 30px;
            padding-top: 15px;
            border-radius: 0 0 5px 5px;
            background: #f8f8f8;
            transition: 0.3s;
            animation: itemHeight 0.7s linear forwards;
        }
    }
}

@keyframes itemHeight {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 500px;
    }
}
